@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}


@layer utilities {
  .fading-animation {
    animation: fade 3s ease-in-out infinite;
  }
}

@layer base {
  :root {
    --text-primary: #000;
    --text-secondary: #D65A31;
    /* --background: 
    radial-gradient(circle at top right, #adadad 0%, #adadad 10%, #fbfbfb 60%),
    radial-gradient(circle at bottom left, #ad0202 0%, #adadad 10%, #fbfbfb 60%); */
--background: 
  radial-gradient(circle at top right, rgba(157, 157, 157, 0.25) 0%, transparent 40%),
  radial-gradient(circle at 30% 60%, rgba(157, 157, 157, 0.25) 0%, transparent 50%),
  linear-gradient(to bottom right, #f4f1ee, #cfcfcf);
  --card-color: #828282;
  --card-bg: #f5f5f5;
  }

  .dark {
    --text-primary: #fff;
    --text-secondary: #ffffff;
    --background: radial-gradient(circle at top right, #D65A31 0%, #D65A31 10%, #202020 60%);
    --card-color: #C8C8C8;
    --card-bg: #3b3a3a;
  }

  * {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    user-select: none;
  }

  html {
    @apply scroll-smooth
  }
}

@layer utilities {
  .background-color {
    background-image: var(--background);
    transition: background-image 0.5s ease;
  }

  .card-box{
    @apply rounded-md p-4
  }

  .card-hover{
    @apply transition-transform duration-300 hover:scale-[1.02] hover:shadow-lg
  }
}